body {
    display: flex;
    justify-content: center;
    font-family: 'Anonymous Pro', monospace;
}

.text-description {
  width: 702px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 3em;
}